body {
    box-sizing: border-box;
}

label {
    display: block;
}

#regexp {
    border: 0;
    width: 150px;
    height: 18px;
    padding: 0;
    position: relative;
    top: -1px;
}

.error {
    background-color: red;
}

#regexp_flags {
    position: relative;
    top: -1px;
    border: 0;
    height: 18px;
    padding: 0;
}

#regexp_flags {
    width: 30px;
    position: relative;
}

#regexp-wrapper {
    position: relative;
    display: inline-block;
    border: 1px solid grey;
    height: 18px;
    padding: 0;
}

textarea {
    width: 400px;
    height: 150px;
}