.form__button-light {
    background-color: #b9c783;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fffecd;
    cursor: pointer;
}
.form__button-light:focus {
     outline: 0;
 }
#chatLogout {
    position: absolute;
    right: 25px;
    top: 15px;
    width: auto;
}
