label {
    display: inline-block;
    width: 60px;
    margin-right: 5px;
    text-align: right;
}

span {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
span.sample {
    font-weight: normal;
    width: 150px;
}
.error {
    color: red;
}

.ok {
    color: green;
}