@import "variables";

.task-menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.task-menu-item {
  flex: 1;
  text-align: center;
  font-family: @main-font;
  color: @main-font-color;
  font-size: 0.9rem;
  line-height: @header-line-height;
  cursor: pointer;
  border-radius: @menu-border-radius @menu-border-radius 0 0;

  &:hover {
    background-color: @background-color-over;
  }

  &--active {
    flex: 1;
    text-align: center;
    font-family: @main-font;
    color: @main-font-color;
    font-size: 0.9rem;
    line-height: @header-line-height;
    cursor: pointer;
    border-radius: @menu-border-radius @menu-border-radius 0 0;
    background-color: @background-color-active;
  }
}

