@blue-color: #49c6ef;

.page-part {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 1rem 0 1rem;
  overflow: hidden;
  &__intro {
    background: @blue-color url('../img/blue-pattern.jpg');
  }
  &__header {
    background-color: #f4f4f4;
  }
  &__main {
    background-color: white;
  }
}

.grid_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//-----------------Intro
@media all and (orientation: portrait) {
  .intro {
    & > .topper {
      margin-bottom: 10vmin;
    }
  }
}

@media all and (orientation: landscape) {
  .intro {
    & > .topper {
    }
  }
}

.intro {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-between;
  & > .topper {
  }
  & > h3 {
    margin: 0;
    text-align: right;
    font-family: MyWebFont, serif;
    font-weight: normal;
    font-size: 14vmin;
  }
  & > p {
    text-align: right;
    font-size: 5vmin;
    font-family: 'Montserrat', sans-serif;
    position: relative;

    & > span {
      font-weight: 600;
      font-style: italic;
    }
  }
  & > form {
    display: block;
    margin: 5vmin 0 5vmin 0;
    text-align: center;
    & > button {
      width: 80%;
    }
  }
  & > img {
    margin: 5vh auto 0 auto;
  }
}

//-----------------Header
.header {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  padding: 5vmin 0 0 0;
  & > .content_container {
    & > h3 {
      font-size: 8vmin;
      margin: 0;
      font-weight: 100;
      letter-spacing: -0.2rem;
    }
    & > p {
      margin: 5vmin 0 5vmin 0;
      font-size: 4vmin;
    }
    & > blockquote {
      margin: 0;
      padding: 0 0 0 5vmin;
      font-size: 4vmin;
      border-left: 7px solid @blue-color;
    }
    & > form {
      text-align: center;
      margin: 5vmin 0 5vmin 0;
      & > button {
        width: 80%;
      }
    }
  }
  & > img {
    margin: auto;
  }
}

//-----------------Main
.main {
  justify-content: space-between;
  padding: 5vmin 0 10vmin 0;
  & > .content_container {
    font-family: 'Montserrat', sans-serif;
    & > h3 {
      margin: 0;
      letter-spacing: -3.8px;
      font-size: 8vmin;
      font-weight: normal;
      color: #535353;
      & > span {
        font-family: "Times New Roman", serif;
      }
    }
    & > .bold-italic {
      font-size: 4vmin;
      font-weight: 600;
      font-style: italic;
    }
    & > .grey-font {
      font-size: 4vmin;
      color: #7f7f7f;
    }
    & > form {
      text-align: center;
      margin-bottom: 5vmin;
      & > button {
        width: 80%;
      }
    }
  }
  & img {
    width: 100%;
    height: auto;
  }
}

//-----------------Feedback
@media all and (orientation: portrait) {
  .feedback {
    & > .content_container {
      flex-direction: column;
    }
  }
}

@media all and (orientation: landscape) {
  .feedback {
    & > .content_container {
      flex-direction: row;
    }
  }
}

.feedback {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > .content_container {
    display: flex;
    color: #535353;
    & > i {
      margin: 5vmin 5vmin 5vmin 5vmin;
      font-size: 7vmin;
      border: 3px solid;
      width: 15vmin;
      height: 15vmin;
      text-align: center;
      line-height: 14vmin;
      border-radius: 15vmin;
      cursor: pointer;
      &:hover {
        border-color: @blue-color;
      }
    }
  }
  & > .subscription {
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    & > label {
      margin-bottom: 3vw;
      font-size: 4vmin;
      letter-spacing: -1px;
      font-weight: 600;
      font-style: italic;
      color: #535353;
    }
    & > div {
      width: 80%;
      text-align: center;
      position: relative;
      & > input {
        position: relative;
        font-size: 3vmin;
        width: 100%;
        font-weight: 600;
        font-style: italic;
        padding: 8px 40px 8px 8px;
        border: 0;
        border-radius: 5px;
        color: #535353;
        &::placeholder {
          color: #d3d3d3;
        }
      }
      &:after {
        font-family: "Font Awesome 5 Free";
        content: "\f0e0";
        color: #6ec5ea;
        top: 8px;
        right: 10px;
        font-size: 3vmin;
        position: absolute;
        border-left: 1px solid #535353;
        padding-left: 10px;
      }
    }
  }
}

//-----------------Footer
.footer {
  background-color: white;
  height: 10vh;
  min-height: 80px;
  padding: 1vh 0 1vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & > .content_container {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #535353;
    font-family: 'Montserrat', sans-serif;
    & > .italic-font {
      font-style: italic
    }
    & > .blue-font {
      color: @blue-color;
    }
  }
  & > .button-up {
    background-color: #f4f4f4;
    color: #535353;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      border: 2px solid @blue-color;
    }
  }
}
