.page-part {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  padding: 0 1rem 0 1rem;
  overflow: hidden;
}
.page-part__intro {
  background: #49c6ef url('../img/blue-pattern.jpg');
}
.page-part__header {
  background-color: #f4f4f4;
}
.page-part__main {
  background-color: white;
}
.grid_container {
  margin: auto;
  min-height: 650px;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: repeat(auto-fill, 10px);
  height: 100vh;
}
.intro {
  color: white;
}
.intro > .topper {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 110px;
}
.intro > .topper > .logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  width: 110px;
  height: 110px;
  border-bottom: #49c6ef;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  line-height: 4rem;
  color: #49c6ef;
  border-bottom: 10px solid #01b1ea;
  border-right: 10px solid #01b1ea;
}
.intro > .topper > i {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}
.intro > h3 {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 15;
  text-align: right;
  margin: 15px 0 0 0;
  font-family: MyWebFont, serif;
  font-weight: normal;
  font-size: 4.3rem;
}
.intro > p {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 26;
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.intro > p > span {
  font-weight: 600;
  font-style: italic;
}
.intro > form {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 37;
  grid-row-end: 43;
}
.intro > img {
  position: relative;
  left: 70px;
  grid-row-start: -28;
  grid-column-start: 1;
}
.header {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
}
.header > .content_container {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 0;
  padding-top: 100px;
}
.header > .content_container > h3 {
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: -0.2rem;
}
.header > .content_container > p {
  margin-top: -1rem;
  line-height: 1.7rem;
}
.header > .content_container > .left-marked {
  line-height: 1.7rem;
  border-left: 7px solid #49c6ef;
  padding: 0 0 0 1rem;
  margin-top: 1rem;
}
.header > .content_container > form > button {
  margin-top: 50px;
}
.header > img {
  position: relative;
  left: -20px;
  grid-row-start: -52;
  grid-column-start: 11;
}
.main > .content_container {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  font-family: 'Montserrat', sans-serif;
  padding-top: 92px;
  margin-left: -5px;
  z-index: 1;
}
.main > .content_container > h3 {
  margin: 0;
  letter-spacing: -3.8px;
  font-size: 2.5rem;
  font-weight: normal;
  color: #535353;
}
.main > .content_container > h3 > span {
  font-family: "Times New Roman", serif;
}
.main > .content_container > .bold-italic {
  margin-top: 30px;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}
.main > .content_container > .grey-font {
  margin-top: 30px;
  line-height: 1.5rem;
  font-size: 0.95rem;
  color: #7f7f7f;
}
.main > .content_container > form > button {
  margin-top: 40px;
  width: 225px;
}
.main img {
  z-index: 0;
  grid-column-start: 8;
  grid-row-start: -40;
  margin-left: -785px;
}
.feedback {
  background-color: #f4f4f4;
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback > .content_container {
  text-align: center;
  color: #535353;
}
.feedback > .content_container > i {
  margin: 0 17px 0 17px;
  font-size: 1.5rem;
  border: 3px solid;
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 50px;
  border-radius: 28px;
  cursor: pointer;
}
.feedback > .content_container > i:hover {
  border-color: #49c6ef;
}
.feedback > .subscription {
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  width: 400px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.feedback > .subscription > label {
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 600;
  font-style: italic;
  color: #535353;
}
.feedback > .subscription > div {
  width: 50%;
  position: relative;
}
.feedback > .subscription > div > input {
  position: relative;
  font-size: 1rem;
  width: 100%;
  font-weight: 600;
  font-style: italic;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: #535353;
}
.feedback > .subscription > div > input::placeholder {
  color: #d3d3d3;
}
.feedback > .subscription > div:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  color: #6ec5ea;
  top: 8px;
  right: 10px;
  position: absolute;
  border-left: 1px solid #535353;
  padding-left: 10px;
}
.footer {
  background-color: white;
  height: 10vh;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.footer > .content_container {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  color: #535353;
  font-family: 'Montserrat', sans-serif;
}
.footer > .content_container > .italic-font {
  font-style: italic;
}
.footer > .content_container > .blue-font {
  color: #49c6ef;
}
.footer > .button-up {
  position: absolute;
  right: 20px;
  background-color: #f4f4f4;
  color: #535353;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.footer > .button-up:hover {
  border: 2px solid #49c6ef;
}
