html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: "header header" "menu cont" "footer footer";
}

.header {
    background-color: grey;
    grid-area: header;
    min-height: 100px;
}

.menu {
    background-color: green;
    grid-area: menu;
}

.content {
    background-color: yellow;
    grid-area: cont;
}

.footer {
    background-color: red;
    grid-area: footer;
    min-height: 100px;
}