html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #b9c783;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  color: #fffecd;
  //padding-bottom: 2rem;
  padding-bottom: 2rem;

  text-align: center;
  flex-basis: 30vh;
  min-height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

main {
  flex-basis: 33%;
  position: relative;
  text-align: center;

}

#chat {
  display: none;
}

#chat-container {
  display: inline-block;
  background-color: #fffecd;
  text-align: left;
  width: 40%;
  height: 33vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.chat-bold {
  font-weight: bolder;
}

.image-smile {
  height: 0.8rem;
  display: inline-block;
  margin: 0;
}

form {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  display: inline-block;
  min-width: 300px;

}

.login__form-section {
  height: 5.5rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.login__form-section:last-child {
  text-align: center;

  & span {
    font-size: 0.8rem;
    font-weight: bold;
    color: red;
  }
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #635960;
  margin-bottom: 0.3rem;
}

input {
  display: block;
  width: 100%;
  background-color: #fffecd;
  color: #a8a4a8;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  //text-indent: 0.5rem;
  padding: 0.7rem 0 0.7rem 0.7rem;
  font-weight: bold;

  &[type="button"] {
    background-color: #635960;
    color: #fffecd;
    font-size: 1rem;
    text-indent: 0;
  }
}

footer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}

#send-container {
  background-color: red;
  display: none;
  min-width: 450px;
  width: 20%;

  & div {
    flex: 1;
  }
}
