@element-padding: 0 10% 0 10%;
@element-min-width: 800px;
@main-font: sans-serif;
@content-background-color: #22a6b3;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.header {
  height: 4rem;
  padding: @element-padding;
  min-width: @element-min-width;
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 20%;
  font-family: @main-font;
  font-weight: bold;
  font-size: 3rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;

  &__letter {
    word-spacing: -0.5rem;
  }

  &__plus {
    color: #22a6b3;
  }
}

.header-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__link {
    display: inline-block;
    font-family: @main-font;
    border-bottom: 2px solid white;
    font-weight: bold;
    width: 8rem;
    text-align: center;
    font-size: 0.9rem;
    color: #353535;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid #22a6b3;
    }
  }
}

.content {
  padding: @element-padding;
  min-width: @element-min-width;
  background-color: @content-background-color;
  display: table;

  &__left-part {
    padding: 2rem 5% 2rem 0;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: right;
  }

  &__right-part {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}

.directions {
  padding: @element-padding;
  min-width: @element-min-width;
  flex-grow: 1;
  display: flex;
  text-align: center;

}

.menu-item {
  background-color: white;
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
  align-items: self-start;

  &__logo {
    color: white;
    background-color: @content-background-color;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: inline-block;
    line-height: 4rem;
    font-size: 2rem;
  }

  &__title {
    font-family: @main-font;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    line-height: 3rem;
    margin: 0;
  }

  &__text {
    font-family: @main-font;
    font-size: 0.75rem;
    color: black;
    margin: 0;
  }
}

.footer {
  padding: 2rem 10% 0 10%;
  min-width: @element-min-width;
  background-color: darken(@content-background-color, 5%);
  text-align: center;

}

h3 {
  color: white;
  font-family: @main-font;
  margin: 0 0 2rem 0;
}

label {
  color: white;
  font-family: @main-font;
  font-size: 0.9rem;
}

p {
  color: white;
  font-family: @main-font;
  font-size: 0.8rem;
}

.input {
  width: 25%;
  margin: 0.5rem 0 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.4rem;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 1rem;

  &-button-header {
    width: 25%;
    min-width: 10rem;
    text-align: center;
    cursor: pointer;
  }

  &-button-footer {
    display: block;
    width: 30%;
    max-width: 40rem;
    text-align: center;
    margin: 0.5rem auto 0.5rem auto;
    cursor: pointer;
  }

  &-text-footer {
    width: 50%;
    max-width: 40rem;
    text-align: left;
    display: block;
    margin: 0.5rem auto 0.5rem auto;

    &::placeholder {
      color: white;
    }

    &::-ms-input-placeholder {
      color: white;
    }
  }
}

.form-list {
  padding: 0;
  list-style-type: none;
}